<ng-container *ngIf="cart$ | async as cart">
  <mat-card *ngIf="cart.items.length > 0; else emptyCart">
    <mat-card-title>Kosár ({{ cart.itemCount }} termék)</mat-card-title>
    
    <mat-list>
      <mat-list-item *ngFor="let item of cart.items" class="cart-item">
        <div class="item-content">
          <h3 matListItemTitle>{{ item.name }}</h3>
          <p matListItemLine>
            {{ item.price | currency:'HUF':'symbol':'1.0-0' }}
            <span class="category">{{ item.category }}</span>
          </p>
        </div>
        
        <button mat-icon-button 
                (click)="removeFromCart(item.productId)"
                class="delete-button"
                matTooltip="Eltávolítás a kosárból"
                aria-label="Termék eltávolítása">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-card-content class="totals">
      <div class="total-row">
        <span>Összesen:</span>
        <span>{{ cart.totalCost | currency:'HUF':'symbol':'1.0-0' }}</span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/checkout">
        Tovább a fizetéshez
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-template #emptyCart>
    <mat-card>
      <mat-card-content>
        <p>A kosara üres</p>
        <button mat-button routerLink="/products">Vásárlás folytatása</button>
      </mat-card-content>
    </mat-card>
  </ng-template>
</ng-container>