<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar>🌿 Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        <span>Főoldal</span>
      </a>
      <a mat-list-item routerLink="/products" routerLinkActive="active-link">
        <mat-icon>storefront</mat-icon>
        <span>Termékek</span>
      </a>
      
      <!-- Login/Logout section -->
      <ng-container *ngIf="currentUser$ | async as user; else loginLink">
        <a mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Kijelentkezés</span>
        </a>
      </ng-container>
      <ng-template #loginLink>
        <a mat-list-item routerLink="/login" routerLinkActive="active-link">
          <mat-icon>login</mat-icon>
          <span>Bejelentkezés</span>
        </a>
        <a mat-list-item routerLink="/register" routerLinkActive="active-link">
            <mat-icon>person_add</mat-icon>
            <span>Regisztráció</span>
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

   <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">🌱 KertWebshop</span>
      <span class="spacer"></span>
      
      <!-- Cart Icon with Badge -->
      <button 
        *ngIf="(currentUser$ | async)"
        mat-icon-button 
        [matBadge]="cartItemCount$ | async" 
        matBadgeColor="warn" 
        (click)="navigateToCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      
      <!-- User Email -->
      <span *ngIf="(currentUser$ | async)?.email as userEmail" class="user-email">
        {{ userEmail }}
      </span>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>